<main class="crud-product">
    <div class="add-product">
        <form action="/products/store" method="POST" style="margin-top: 100px;">
            <input type="text" name="name" id="">
            <input type="text" name="description" id="">
            <input type="text" name="image" id="">
            <input type="text" name="price" id="">
            <button type="submit">Them San Pham</button>
        </form>
    </div>
    <div>
        <h2>Sản Phẩm Của Tôi</h2>
        <a href="/trash">Thùng Rác {{deletedCount}}</a>
    </div>
    <table>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        {{#each products}}
        <tr class="{{this._id}}">
            <td>{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td><img src="{{this.image}}" alt="" style="height: 30px; width:30px;"></td>
            <td>{{this.price}}</td>
            <td>
                <a href="#dialog-modal" data-id="{{this._id}}" class="get-id-edit">Sửa</a>
                <a href="#dialog-modal" data-id="{{this._id}}" class="get-id-delete">Xóa</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6">Bạn Chưa Đăng Sản Phẩm Học Nào. </td>
        </tr>
        {{/each}}
    </table>


</main>

<div id="dialog-modal">
    <a href="#" class="dialog-modal-close-out"></a>
    <div class="dialog-modal-body">
        <a class="dialog-modal-close fa fa-times-circle" href="#"></a>
        <h3>Mày Muốn xóa</h3>
        <a href="#">NO</a>
        <a id="delete-products-comfirm">YES</a>
    </div>
</div>


<form name="delete-product-form" method="POST"></form>