<h1>{{product._id}}</h1>
<h1>{{product.name}}</h1>
<h1>{{product.description}}</h1>
<h1><a href="{{product.image}}" target="_blank">link image</a></h1>
<h1>{{product.price}}</h1>
<h1>{{product.createdAt}}</h1>
<h1>{{product.updatedAt}}</h1>
<h1>{{product.slug}}</h1>
<h1>{{product.__v}}</h1>