<main class="main-homepage">
    {{#each products}}

    <article class="card">
        <a href="/{{this.slug}}" target="_blank">
            <div class="card__img">
                <img src="{{this.image}}" alt="{{this.description}}">

            </div>

            <div class="card__name">
                {{this.name}}
            </div>

            <div class="card__price">
                {{this.price}}
            </div>
        </a>
    </article>

    {{/each}}
</main> 