<main class="crud-product">

    <div>
        <h2>Sản Phẩm Đã Xóa</h2>
        <a href="/products/create-update-delete">Quay Lại</a>
    </div>

    <table>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        {{#each products}}
        <tr class="{{this._id}}">
            <td>{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td><img src="{{this.image}}" alt="" style="height: 30px; width:30px;"></td>
            <td>{{this.price}}</td>
            <td>
                <a href="#dialog-modal" data-id="{{this._id}}" class="get-id-edit">Khoi Phuc</a>
                <a href="#dialog-modal" data-id="{{this._id}}" class="get-id-delete">Xóa Vĩnh Viễn</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6">Thùng Rác Trống. <a href="/products/create-update-delete">Danh Sách Khóa Học</a> </td>
        </tr>
        {{/each}}
    </table>


</main>

<div id="dialog-modal">
    <a href="#" class="dialog-modal-close-out"></a>
    <div class="dialog-modal-body">
        <a class="dialog-modal-close fa fa-times-circle" href="#"></a>
        <h3>Mày Muốn Khôi Phục</h3>
        <a href="#">NO</a>
        <a id="restore-products-comfirm">YES</a>
    </div>
</div>


<form name="restore-product-form" method="POST"></form>